//Brand color palette
$primary-color: #ff6f20;
$secondary-color: #97be0d;

//Supporting color palette
$supporting-1: #72ab27;
$supporting-2: #e3565c;
$supporting-3: #fdb330;
$supporting-4: #00abff;

//Global color palette
$universal-color-1: #262c38;
$universal-color-2: #454b56;
$universal-color-3: #626871;
$universal-color-4: #80858d;
$universal-color-5: #bcbfc4;
$universal-color-6: #e5eaee;
$universal-color-7: #f0f2f5;
$universal-color-8: #f7f9fc;
$universal-color-9: rgba(38, 44, 56, 0.1);
$universal-color-0: #ffffff;
$universal-color-10: #333;
//System messages
$error-color: rgb(184, 0, 0);
$success-color: #29b94a;
